<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="traceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="space.log"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.serviceModel>
    <client>
      <endpoint
        name="SF.ServiceLibrary.SpaceClient"
        address="net.tcp://localhost:8090/space"
        binding="netTcpBinding"
        bindingConfiguration="netTcpBinding_Anonymous"
        contract="SF.ServiceLibrary.IServer"/> 
    </client>
    <bindings>
      <netTcpBinding>
        <binding
          name="netTcpBinding_Anonymous">
          <security mode="None">
            <message clientCredentialType="None"/>
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
